@import './normalize.less';
/* Transition */
@tran-02: all 0.2s ease;
@tran-03: all 0.3s ease;
@tran-04: all 0.4s ease;
@tran-05: all 0.5s ease;

* {
    font-family: Arial, sans-serif;
}

/*整个滚动条*/
::-webkit-scrollbar {
    width: 5px;

    height: 8px;

    background-color: #fff;

}

/*定义滚动条轨道*/

::-webkit-scrollbar-track {

    background-color: #fff;

}

/*定义滑块*/

::-webkit-scrollbar-thumb {

    background-color: #ACB1BF;

    border-radius: 4px;

}

:root.light {
    --bgColorTop: #fff;
    --bgColorBase: #F4F4F5;
    --bgColorBottom: #DDDFE4;
    --bgColorOther: #F4F4F5;
    --fontColorTop: #1F1D2B;
    --fontColorBase: #3B3948;
    --fontColorBottom: #9195A1;
}

:root.dark {
    --bgColorTop: #202025;
    --bgColorBase: #17161B;
    --bgColorBottom: #2E2E35;
    --bgColorOther: #2E2E35;
    --fontColorTop: #fff;
    --fontColorBase: #DDDFE4;
    --fontColorBottom: #9195A1;
}