@import './normalize.less';
@import './theme/white.less';

* {
    font-family: Arial, sans-serif;
}

/* 导航滚动条 */
.sidebar::-webkit-scrollbar {
    width: 4px;
}

.sidebart::-webkit-scrollbar-track {
    background: #dddfe4;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #9195a1;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}